<div class="wrapper" style="display: flex">
  <ul>
    <li *ngFor="let card of availableCards">
      <div class="card"
           dd-draggable-list-item
           [dd-type]="card.type"
           [dd-data]="card">
        <div dd-no-draggable>
          <h2>{{card.title}}</h2>

          <div dd-draggable-handle>dd-draggable-handle</div>

          <div><input type="text" placeholder="SHOULD BE CLICKED"></div>
        </div>

      </div>
    </li>
  </ul>

  <ul
    [dd-droppable-list]="parentCards"
    class="drop-zone droppable-list">

    <li *ngFor="let card of parentCards">
      <h3>{{card.title}}</h3>
    </li>
  </ul>
</div>
