<div class="wrapper" style="display: flex">
    <ul>
        <li *ngFor="let card of availableCards">
            <div class="card"
                 dd-draggable-list-item
                 [dd-type]="card.type"
                 [dd-data]="card">
                {{card.title}}
            </div>
        </li>
    </ul>

    <ul class="drop-zone droppable-list"
        vm-droppable-list
        (dd-dropped)="onDropLeft($event)"
        [dd-allowed-types]="allowedTypes">

        <li *ngFor="let card of left"
            dd-draggable-list-item
            [dd-type]="card.type"
            [dd-data]="card">
            {{card.title}}
        </li>
    </ul>

    <ul class="drop-zone droppable-list"
        vm-droppable-list
        (dd-dropped)="onDropRight($event)"
        [dd-allowed-types]="allowedTypes">

        <li *ngFor="let card of right"
            dd-draggable-list-item
            [dd-type]="card.type"
            [dd-data]="card">
            {{card.title}}
        </li>
    </ul>

</div>