ul {
  padding: 0;
  marging: 0;
}

li {
  list-style: none;
}

.card {
  border: 1px solid blue;
}

.drop-zone {
  border: 1px solid red;
  min-height: 20px;
  margin: 20px;
  min-width: 200px;
}

.drop-zone li {
  border: 1px solid gold;
}
